##Q1Dicusss string slicing and provide examples

String slicing in python is very helpful in fetching a substring from the given string.
Python offers two ways to do slicing and getting desired string.

1.slicing method
2.in built array method

lets discuss these two one by one--

1.slicing method-it has function called slice() where we give parameteres and slice the output.
Syntax: slice(start, end, steps)
start -is where we want to start slicing 
stop- when we want to end the slicing
steps is how much gap we want in string to be printed

Lets just check with one example
Suppose we are having a string "Bombaytimes" and we want only limited chars out of it.

In [9]:
Str="Bombaytimes"
s1=slice(3)
print(Str[s1])

Bom

In [10]:
#not lets say i want 3 to 5 index sliced
Str="Bombaytimes"
s1=slice(3,5)
print(Str[s1])

ba

In [12]:
#not lets say i want 3 to 7 index sliced with 2-2 ka gaps
Str="Bombaytimes"
s1=slice(3,7,2)
print(Str[s1])

by

Lets discusss inbuilt array slicing now
In built array slicing is feature that allows extraction of a substring from string using simple range
Syntax: array[start:end:steps]

Lets understand this with examples
suppose we want to do slicing in a String "Olympicmedal"

In [2]:
Str="Olympicmedal"
#say we want initial Oly
print(Str[0:4])

Olym

In [5]:
#we want one one characters skipped till end
print(Str[::2])

Oypcea

In [7]:
#we want to fetch last char 2-5 we have to give range 2:6 notable point is last digit exclusive it prints
Str="Olympicmedal"
print(Str[2:6])

ympi

##Q2-Explain the key features of lists in python
#Python has multiple in built features that helps a list work like charm for storing any data type, list is heterogenous, unordered, can be sliced lets dicuss #more of them with examples.

In [13]:
#Lists are cotainers where we can contain any type of element. be it string, number, float , character anything.
l1=[1,2,3]
l1

[1, 2, 3]

In [15]:
l2=[2.3,4.5,3.2]
l2

[2.3, 4.5, 3.2]

In [18]:
l3=["aman","atul","ram"]
l3

['aman', 'atul', 'ram']

In [20]:
#Lists are mutable and added value can be modified anytime.
l3=["aman","atul","ram"]
l3[2]="pawan"
l3

['aman', 'atul', 'pawan']

In [ ]:
#Lists are stored in [ ] square bracket separated by comma.
Syntax l=[1,2,3]

In [26]:
#Lists contain ordered objects so every index has unique value and once modified value will be changed on that index.
listordered=["Rahul gandhi", "Narendra modi","Kejriwal"]
listordered[2]

'Kejriwal'

In [27]:
#now lets change list and again run same index
listordered=["Kejriwal","Rahul gandhi", "Narendra modi"]
listordered[2]

'Narendra modi'

In [28]:
#Elements of list can be heterogenous , mean it can be different data type in single list.
lst=["a","star",1, 2.3]
lst

['a', 'star', 1, 2.3]

In [29]:
#List objects can be duplicate  they need not to be unique.
lst22=["aman","aman","aman","atul","atul"]
lst22

['aman', 'aman', 'aman', 'atul', 'atul']

In [30]:
#Elements can be accesed by index
lst22=["aman","aman","aman","atul","atul"]
lst22[3]

'atul'

In [31]:
#Lists can be nested
lst23=["aman","aman","aman","atul","atul",["aman","aman","aman","atul","atul"],["aman","aman","aman","atul","atul"]]
lst23

['aman',
 'aman',
 'aman',
 'atul',
 'atul',
 ['aman', 'aman', 'aman', 'atul', 'atul'],
 ['aman', 'aman', 'aman', 'atul', 'atul']]

In [32]:
#lists can be concatenated
l1=[1,2,3]
l2=[4,5,6]
l1+l2

[1, 2, 3, 4, 5, 6]

In [34]:
#lists can be appended at the end
l1.append(5)
l1

[1, 2, 3, 5, 5]

In [37]:
#one list can extend another list
l1=[1,2,3]
l1.extend([4,5,6])
l1

[1, 2, 3, 4, 5, 6]

In [39]:
#lists can be popped
l1.pop(3)
l1

[1, 2, 3, 6]

In [42]:
#value can be removed from list
l1.remove(3)
l1

[1, 2, 6]

##Q3 Describe how to  access modify and delete elements in a list with examples?

In [2]:
#accessing elements from python list
#Python ELements can be heterogenours lets take a heterogenours list and try to acesss its element 
List1=["aman", "atul",4,5,6,7,"Ram", "manphar", "Pawan"]
#say we want to fetch element 6
List1[4]

6

In [3]:
#accessing multiple elements from list
List1[1:3]

['atul', 4]

In [17]:
#Accessing last elements
List1[:-2] #start to -2

['aman', 'atul', 4, 5, 6, 7, 'Ram']

In [18]:
#Accessing elements in reverse order
List1[::-1]

['Pawan', 'manphar', 'Ram', 7, 6, 5, 4, 'atul', 'aman']

In [19]:
# Accessing elements with 2-2 gaps
List1[::2]

['aman', 4, 6, 'Ram', 'Pawan']

In [22]:
#Modifying elements in python
#We do have mutiple ways to modify elemnts in python 
#lets discuss them all

In [24]:
#Using Index 
List1[0]="Rohit"
List1

['Rohit', 'atul', 4, 5, 6, 7, 'Ram', 'manphar', 'Pawan']

In [27]:
#Appending list
List1.append("Aman")
List1

['Rohit', 'atul', 4, 5, 6, 7, 'Ram', 'manphar', 'Pawan', 'Aman']

In [29]:
#Deleting elements from a list
List1.remove(6)
List1

['Rohit', 'atul', 4, 5, 7, 'Ram', 'manphar', 'Pawan', 'Aman']

In [30]:
#Deletion of last element in list using pop
List1.pop()

'Aman'

In [32]:
#Deletion of last element in list using pop index
List1.pop(3)
List1

['Rohit', 'atul', 4, 'Ram', 'manphar', 'Pawan']

##Q4 Compare and contrast tuple and list with examples

In [40]:
#defining list List elements re enclosed in a square bracket []
#L1=[a,b,c,d,a,a] #list is mutable allows duplicate and is ordered ,Heterogenous
#defining tuple, tuple elements are enclosed in a  small bracket ()
#T1=(a,b,c,d,e) # tuple is immutable , alows duplicates, ordered and heterogenous

In [41]:
#list is mutable
L1=["b","c","d","a"]
L1.append("p")
L1

['b', 'c', 'd', 'a', 'p']

In [43]:
type(L1)

list

In [39]:
T1=("a","b","c","d","e")
T1.append("p")
T1
#tuple has no inbuilt attribute to modify elements 
# tuples are immutable

AttributeError: 'tuple' object has no attribute 'append'

In [44]:
type(T1)

tuple

In [45]:
#list and tuples both can access item with slicing
L1=["b","c","d","a"]
L1[2]

'd'

In [46]:
T1=("a","b","c","d","e")
T1[2]

'c'

In [47]:
#len function in list and tuple
len(L1)

4

In [48]:
len(T1)

5

In [50]:
#membership in list and tuple 
"a" in T1

True

In [51]:
"a" in L1

True

In [52]:
#list consume more memory
#tuple consume less memory

In [53]:
#list are error prone, howeve tuples having no mutable feature makes it less prone to error

In [54]:
#Lists are efficient for isnertion , deletion and accessing
#tuples are very efficinet in accesing the elements

 ##Q5 Describe the key features of sets and provide examples of their use

In [55]:
#A set is a collection which is unordered, unchangeable, and unindexed.
#Set can contain duplicate value 
#set is unordered and it contains unique elements

In [56]:
#duplicates not allowed
S1={1,2,3,3,4,5,6,6}
type(S1)

set

In [57]:
S1 #duplicate value will be ignored

{1, 2, 3, 4, 5, 6}

In [58]:
S1[1]=3 #set cant be modified but elements can be removed and added

TypeError: 'set' object does not support item assignment

In [59]:
#set considers False and 0 as 1 value and if both in set removes one vice versa with 1 and True
s2={1,True,3,4,5}
s2

{1, 3, 4, 5}

In [60]:
#set can contain diff data types
s3={1,"aman",1.2,False}
s3

{1, 1.2, False, 'aman'}

In [61]:
#we can use len function to get set lenght
len(s3)

4

In [63]:
#adding element in set
s3.add(5)
s3

{1, 1.2, 5, False, 'aman'}

In [64]:
#set adds value at any random index not at the end
#remove elements in set

In [65]:
s3.remove(1.2)
s3

{1, 5, False, 'aman'}

In [66]:
# set items are not subscriptable you camt chnage once set is created but can remove and add new elements
s3[2]="Aman"

TypeError: 'set' object does not support item assignment

In [ ]:
##Q6 Discuss use cases of tuple and sets in python programming

In [48]:
# In a dictionary, the key part must be immutable. This means that once a key is created, it cannot be changed. 
# Immutability is essential for keys because it ensures that the dictionary can efficiently look up values based on their keys.
# If a key was mutable, its hash value could change, making it impossible to find the associated value in the dictionary. 
# For example, in the following dictionary: 

# To understand why Python insists on using immutable objects for dictionary keys, consider a real-world dictionary
# Each word (key) has a definitive spelling (immutable) and leads you to a specific definition (value). 
# Just like in a real dictionary, Python dictionary keys must be steadfast and unchanging.

# Lets create a dictionary to better able to understand this

Members = {"John": "Male", "Kat": "Female", "Doe": "Female", "Clinton":"Male"}
#Here every individual has unique identity  as name checking with name being unique key we can find their gender.

Members.keys()

dict_keys(['John', 'Kat', 'Doe', 'Clinton'])

In [50]:
Members.values()

dict_values(['Male', 'Female', 'Female', 'Male'])

In [52]:
Members.items()

dict_items([('John', 'Male'), ('Kat', 'Female'), ('Doe', 'Female'), ('Clinton', 'Male')])

In [ ]:
# #here Dictionaries after python 3.7 onwards are ordered , 
# if we change the key itself it will make dictionaries whole order a mess so we assume it as an
# Key immutable data type

#Q7 Describe how to add, modify, and delete items in a dictionary with examples

In [2]:
# We define dictionary using key anf value pair
# syntax is like {"Key":"Value"]

In [4]:
#to add element in a dictionary lets define a dictionary first
Dict={"A":1,"B":2,"C":3,"D":4}

In [9]:
Dict["E"]=5
Dict

{'A': 1, 'B': 2, 'C': 3, 'D': 4, 'E': 5}

In [10]:
# to delete element items from dictionary
del Dict["E"]
Dict

{'A': 1, 'B': 2, 'C': 3, 'D': 4}

In [11]:
#to modify current entry
Dict["A"]=8
Dict

{'A': 8, 'B': 2, 'C': 3, 'D': 4}

#Q8 Discuss the importance of dictionary keys being immutable and provide examples

In [12]:
#Dictionary keys are mutable and best use case of this is dictionary elements can be found from it 
#lets define a dictionary
Dict={"A":1,"B":2,"C":3,"D":4}
Dict[0]

KeyError: 0

In [14]:
#we cant access elements like we can in lists so dictionary has unique index as dictionary that works as object identifier
# Now lets access dictinary using key
Dict["A"]

1

In [ ]:
#being immutable  helps in keys being unique value selector
Dict={"name":"Aman","Class":"Grad","Country":"India,"D":4}
      # #suppose if dictionary was mutable and we could chnage key "name as "Country"
      # it will be disaster Country will be shown as "AMAN" that will be irrelevant hence dictionry keys are made immutable.